/*Rubik Dirt Regular*/
/*Montserrat*/

/* @font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik Dirt';
    src: url('RubikDirt-Regular.ttf') format('truetype');
} */

/*
    font-family: 'Montserrat', sans-serif;

    font-family: 'Rubik Dirt', cursive;
    */

html {
    background-color:rgb(21, 20, 20);
}

h1 {
    color:rgb(241, 237, 233);
    font-size: 4.5vw;
    font-family: 'Rubik Dirt', 'Montserrat', sans-serif;
    font-weight: 400;
    /* letter-spacing: -.2pt; */
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    z-index: 10;
    /* font-family: 'Work Sans', sans-serif; */
}


h2 {
    color:rgb(241, 237, 233);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -.2pt;
    position: relative;
    display: inline;
    z-index: 10;
}

.externalSite {
    position: relative;
    left: 12rem;
}

.back {
    position: relative;
    left: 4rem;
}

.next {
    position: relative;
    left: 8rem;
}

.designButton {
    position: relative;
    left: 12rem;
}

.column {
    width: 50vw;
    float: right;
}


.example {
    width: 40vw;
    float: right;
    padding: 1vw;
    padding-top: .2vw;
}

.wide .example {
    width: 50vw;
}

.first {
    height: 10px;
    overflow: hidden;
    display: inline;
}

.first video {
    width: 40vw;
    
}

.name {
    margin-bottom: 0;
    padding-bottom: 0;
    color: rgb(139, 139, 139);
    font-size: 1.05rem;
    letter-spacing: 0.03rem;
    font-weight: 500;
    padding-top: .2vw;
}

img.example:hover {
    opacity: 70%;
}

video.example:hover {
    opacity: 70;
}

.centerVideo {
    padding-top: 20vh;
    
}

.fixedContainer {
    position: fixed;
    top: 5vh;
    left: 6rem;
}

#portrait {
    width: 30vw;
    padding: 10vw;
    /* right: 5vw;
    top: 5vh; */
}

p {
    color:rgb(241, 237, 233);
    font-size: 1.15rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* letter-spacing: -.2pt; */
    line-height: 145%;
    position: relative;
    width: 35vw;
    /* font-family: 'Work Sans', sans-serif; */
    
}

#aboutMe {
    position: fixed;
    left: 6rem;
    /* bottom: 50vh; */
    width: 30vw;
}

#aboutMe2 {
    position: fixed;
    left: 6rem;
    /* bottom: 42vh; */
    width: 30vw;
}

.fixedContainer {
    overflow: hidden;
    width: 50vw;
}

.sticky {
    height: 55vh;
    margin-top: 2rem;
    overflow: auto;
    padding-right: 20px;
    scrollbar-width: none;
}

.sticky #about1 {
    overflow: scroll;
}

.sticky a {
    color:rgb(233, 88, 51);
    font-weight: 600;
}

.sticky a:hover {
    opacity: 70%;
}

h2:hover {
    opacity: 70%;
}

/* .name.example:hover {
    color: rgb(241, 237, 233);
    font-weight: 700;
    opacity: 100;
} */

.work a:hover {
    font-weight: 700;
}

h2 a {
    color: white;
}

.caption {
   color: rgb(139, 139, 139);
   font-size: 1.05rem;
   letter-spacing: 0.03rem;
   font-weight: 500;
}

.caption:hover {
    opacity: 100%;
}

.underline {
    text-decoration: underline ;
}

.foot {
    margin-bottom: 4rem;
}

.specfoot {
    margin-bottom: 4rem;
    /* padding-right: 5vw; */
}

a {
    text-decoration: none;
}

#insta { /*FIX*/
    width: 20px;
    display: inline;
    margin-right: 10px;
}
#stronger-together {
  
}

.footnote {
    font-size: .85rem;
    color:rgb(139, 139, 139); 
    font-weight: 600;
    letter-spacing: -.2pt;
    
}

/* color:rgb(241, 237, 233);
font-size: 1rem;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-style: normal;
letter-spacing: -.2pt;
position: relative;
display: inline;
z-index: 10; */

/* @media (max-width: 1000px) {
    h1 {
        font-size: 3rem;
        left: 3rem;
    }

    h2.aboutButton {
        left: 3rem;
    }

    h2.designButton {
        left: 16rem;
    }

    h2.externalSite {
        left: 18rem;
    }

    .back {
        left: 8rem;
    }

    .next {
        left: 13rem;
    }

    #about1 {
        left: 3rem;
        top: 5vh;
        width: 30vw;
    }
    
    #about2 {
        left: 3rem;
        top: 13vh;
        width: 30vw;
    }

    #aboutMe {
        left: 3rem;
    }

    #aboutMe2 {
        left: 3rem;
    }

} */

@media (max-width: 999px) {
    h1 {
        /* top: 5vh; */
        z-index: -10;
        font-size: 3rem;
    }

    h2 {
        /* top: 24vh; */
        z-index: -10; /*problem when padding on column - overlaps*/
        font-size: 1rem;
    }

    .column { 
        width: 100vw;
        float: right; /*FIX THIS!!*/
        margin-top: 70vh;
    }

    .example {
        width: 90%;
        padding: 1vw;
        float: center;
    }

    .centerVideo {
        padding: 0;
    }

    p {
        width: 60vw;
    }

    .sticky {
        padding-right: 6rem;
        height: 30vh;
    }

    .fixedContainer {
        z-index: -10;
        width: 100vw;
    }

    #aboutMe {
        z-index: -10;
        width: 80vw;
        top: 32vh;
    }

    #aboutMe2 {
        z-index: -10;
        width: 80vw;
        top: 60vh;
    }

    #portrait {
        margin-top: 60vh;
    }

    img.example {
        z-index: 10;
        padding-bottom: 1vh;
    }

    #portrait {
        left: 5vw;
        width: 60vw;
        z-index: 10;
    }
}