html {
    background-color:rgb(241, 237, 233);
}

h1 {
    color:rgb(39, 31, 27);
    font-size: 5vw;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    letter-spacing: -.2pt;
    position: fixed;
    bottom: 22vh;
    left: 6rem;
    z-index: 10;
    /* font-family: 'Work Sans', sans-serif; */
}


h2 {
    color:rgb(39, 31, 27);
    font-size: 1.5rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: -.2pt;
    position: fixed;
    bottom: 18vh;
    left: 6rem;
    z-index: 10;
}

.externalSite {
    position: fixed;
    left: 24rem;
}

.back {
    position: fixed;
    left: 12rem;
}

.next {
    position: fixed;
    left: 18rem;
}

.designButton {
    position: fixed;
    left: 21rem;
}

.work:hover {
    opacity: 70%;
}

.name {
    visibility: hidden;
}

.column {
    width: 50vw;
    float: right;
}

.example {
    width: 40vw;
    float: right;
    padding: 1vw;
}

.centerVideo {
    padding-top: 30vh;
    padding-right: 5vw;
}

#portrait {
    width: 30vw;
    padding: 10vw;
    /* right: 5vw;
    top: 5vh; */
}

p {
    color:rgb(39, 31, 27);
    font-size: 1rem;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: -.2pt;
    position: absolute;
}

#about1{
    left: 6rem;
    bottom: 60vh;
    width: 30vw;
}

#about2 {
    left: 6rem;
    bottom: 50vh;
    width: 30vw;
}

#aboutMe {
    position: fixed;
    left: 6rem;
    bottom: 50vh;
    width: 30vw;
}

#aboutMe2 {
    position: fixed;
    left: 6rem;
    bottom: 42vh;
    width: 30vw;
}

.sticky {
    position: fixed;
}

h2:hover {
    font-style: normal;
}

#email:hover {
    font-style: italic;
}

.foot {
    margin-bottom: 4rem;
}

.specfoot {
    margin-bottom: 4rem;
    padding-right: 5vw;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 3rem;
        left: 3rem;
    }

    h2.aboutButton {
        left: 3rem;
    }

    h2.designButton {
        left: 16rem;
    }

    h2.externalSite {
        left: 18rem;
    }

    .back {
        left: 8rem;
    }

    .next {
        left: 13rem;
    }

    #about1 {
        left: 3rem;
        top: 5vh;
        width: 30vw;
    }
    
    #about2 {
        left: 3rem;
        top: 13vh;
        width: 30vw;
    }

    #aboutMe {
        left: 3rem;
    }

    #aboutMe2 {
        left: 3rem;
    }

}

@media (max-width: 700px) {
    h1 {
        top: 5vh;
        z-index: -10;
    }
    h2 {
        top: 24vh;
        left: 3rem;
        z-index: -10; /*problem when padding on column - overlaps*/
    }

    .column { 
        width: 100vw;
        float: right;
        margin-top: 80vh;
    }

    .example {
        width: 90%;
        padding: 1vw;
        float: center;
    }

    .centerVideo {
        padding: 0;
    }

    #about1 {
        z-index: -10;
        width: 80vw;
        top: 32vh;
    }

    #about2 {
        z-index: -10;
        width: 80vw;
        top: 32vh;
    }

    #aboutMe {
        z-index: -10;
        width: 80vw;
        top: 32vh;
    }

    #aboutMe2 {
        z-index: -10;
        width: 80vw;
        top: 60vh;
    }

    #portrait {
        padding-top: 80vh;
    }

    img.example {
        z-index: 10;
        padding-bottom: 1vh;
    }

    #portrait {
        left: 5vw;
        width: 60vw;
        z-index: 10;
    }
}